#backImg{position:relative;}
body{margin:0;padding:0;}
	
#p1,#p2{position:absolute;
	top:25%;
	left:11%;
	font-size:3vw;
	color:#E38D13;
}
#p2{top:50%;
	left:28%;
}
#remuse{text-align:center;}
#remuse>p{font-size:30px;color:#222222;}

}

.size{width:80px;height:80px;}
#block{background:url(images/11.jpeg);}
.liner{
	width:100%;
	height:500px;
	background:-moz-linear-gradient(top,#b8c4cb,#0f0;);
}
.em{width:7em;}
#skills li span{font-size:0.8em;}
#works li{font-size:1em;}